*/dist
dist
*/build
*/.vscode
angular-app/.angular
*/node_modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
next-app/node_modules
next-app/.pnp
next-app/.pnp.js
next-app/coverage
next-app/.next/
next-app/out/
next-app/build
next-app/.DS_Store
next-app/*.pem
next-app/npm-debug.log*
next-app/yarn-debug.log*
next-app/yarn-error.log*
next-app/.env*.local
next-app/.vercel
next-app/*.tsbuildinfo
next-app/next-env.d.ts

nuxt-app/logs
nuxt-app/*.log
nuxt-app/npm-debug.log*
nuxt-app/yarn-debug.log*
nuxt-app/yarn-error.log*
nuxt-app/pids
nuxt-app/*.pid
nuxt-app/*.seed
nuxt-app/*.pid.lock
nuxt-app/lib-cov
nuxt-app/coverage
nuxt-app/.nyc_output
nuxt-app/.grunt
nuxt-app/bower_components
nuxt-app/.lock-wscript
nuxt-app/build/Release
nuxt-app/node_modules/
nuxt-app/jspm_packages/
nuxt-app/typings/
nuxt-app/.npm
nuxt-app/.eslintcache
nuxt-app/.node_repl_history
nuxt-app/*.tgz
nuxt-app/.yarn-integrity
nuxt-app/.env
nuxt-app/.cache
nuxt-app/.next
nuxt-app/.nuxt
nuxt-app/dist
nuxt-app/.vuepress/dist
nuxt-app/.serverless
nuxt-app/.idea
nuxt-app/sw.*
nuxt-app/.DS_Store
nuxt-app/*.swp

react-app/node_modules
react-app/.pnp
react-app/.pnp.js
react-app/coverage
react-app/build
react-app/.DS_Store
react-app/.env.local
react-app/.env.development.local
react-app/.env.test.local
react-app/.env.production.local
react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*


svelte-app/.DS_Store
svelte-app/node_modules
svelte-app/build
svelte-app/.svelte-kit
svelte-app/package
svelte-app/.env
svelte-app/.env.*
svelte-app/!.env.example
svelte-app/.vercel
svelte-app/.output
svelte-app/vite.config.js.timestamp-*
svelte-app/vite.config.ts.timestamp-*